/*Gallery Contents*/
#anime1::before{
    content:"Re:Zero";
}
#anime2::before{
    content:"Clannad";
}
#anime3::before{
    content:"Monogatari";
}
#anime4::before{
    content:"Steins;Gate";
}
#anime5::before{
    content:"Eighty-Six";
}
#anime6::before{
    content:"Haruhi Suzumiya";
}
#anime7::before{
    content:"Fate/Stay Night";
}
#anime8::before{
    content:"Kara no Kyoukai";
}
#anime9::before{
    content:"Shakugan no Shana";
}
#anime10::before{
    content:"Oregairu";
}
#anime11::before{
    content:"Bunny Girl-Senpai";
}
#anime12::before{
    content:"Saekano";
}
#manga1::before{
    content:"Bloom Into You";
}
#manga2::before{
    content:"Oshi no Ko";
}
#manga3::before{
    content:"Whisper Me a Love Song";
}
#manga4::before{
    content:"Grand Blue";
}#manga5::before{
    content:"Who Made Me a Princess";
}
#manga6::before{
    content:"Tamen de Gushi";
}
#manga7::before{
    content:"Kaguya-Sama";
}
#manga8::before{
    content:"Spy x Family";
}
#manga9::before{
    content:"Iruma-Kun";
}
#manga10::before{
    content:"Call of The Night";
}
#manga11::before{
    content:"My Dress-Up Darling";
}
#manga12::before{
    content:"The World God Only Knows";
}
#ln1::before{
    content:"Re:Zero";
}
#ln2::before{
    content:"Classroom of The Elite";
}
#ln3::before{
    content:"Wandering Witch";
}
#ln4::before{
    content:"Eighty-Six";
}
#ln5::before{
    content:"The Monogatari Series";
}
#ln6::before{
    content:"I'm In Love with the Villainess";
}
#ln7::before{
    content:"Toaru Series";
}
#ln8::before{
    content:"Danmachi";
}
#vn1::before{
    content:"The Sci;Adv Series";
}
#vn2::before{
    content:"Summer Pockets";
}
#vn3::before{
    content:"Ao no Kanata no Four Rhythm";
}
#vn4::before{
    content:"You and Me and Her";
}
#vn5::before{
    content:"Doki Doki Literature Club";
}
#vn6::before{
    content:"Rewrite";
}
#vn7::before{
    content:"Danganronpa";
}
#vn8::before{
    content:"Needy Streamer Overload";
}
#vn9::before{
    content:"White Album 2";
}
#vn10::before{
    content:"Little Busters";
}
#vn11::before{
    content:"Wonderful Everyday";
}
#vn12::before{
    content:"Clannad";
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
/*top nav content*/
.navbar {
    background-color: #DDDDDD;
    width: 90%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #D3D3D3;
    overflow: hidden;
    z-index: 2;
    max-width: 2000px;
}
  
.navbar a {
    background-color: #DDDDDD;
    float: left;
    font-size: 16px;
    color: #000000;;
    text-align: center;
    padding: 22px 50px;
    text-decoration: none;
    z-index: 2;
}
  
.dropdown {
    float: left;
    overflow: hidden;
    z-index: 2;
}
  
.dropdown .dropbtn {
    background-color: #DDDDDD;
    font-size: 16px;  
    border: none;
    outline: none;
    color: #000000;
    padding: 22px 50px;
    font-family: inherit;
    margin: 0;
    z-index: 2;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    z-index: 2;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 22px 41px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}
  
.dropdown-content a:hover {
    background-color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.container {
    width: 100%;
    text-align: center;
    z-index: 2;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
    color: #FFFFFF;
}
p{
    padding: 35px 300px;
    font-weight: normal;
    position: relative;
    margin: 40px 0;
    color: #FFFFFF;
}
#intro{
    height: 500px;
    position: relative;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite   ;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
/*gallery, photos and buttons*/
.gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.pic{
    position: relative;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #D3D3D3;
}
.pic img{
    border-radius: 10px;
    height: 100%;
    transition: .5s;
}
.pic::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,.4);
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
.button {
    width: 200px;
    translate: center;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 20px/50px;
    transition: 0.3s;
    transition-delay: .2s;
    opacity: 0;
    top: 55%;
    left: 25%;
    position: absolute;
    z-index: 2;
}
.button a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    z-index: 2;
}
.pic:hover .button {
    opacity: 1;
    background-color: 0;
    z-index: 2;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 3;
}
.popup {
    margin: 15px auto;
    padding: 15px;
    background: #D3D3D3;
    border-radius: 5px;
    width: 50%;
    height: 94%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 3;
    overflow-y: auto;
}
.popup::-webkit-scrollbar {
    display: none;
  }
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: red;
}
.popup .content {
    max-width: 100%;
    overflow: auto;
}
@media screen and (max-width: 1000px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
} 

.popup img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
}
.popup #title {
    font-weight: normal;
    font-size: 30px;
    color: #333;
    text-align: center;
}
.content h3{
    color: #333;
    text-align: center;
    margin: auto;
}
.content p{
    padding: 10px;
    color: #333;
    text-align: justify;
    margin: auto;
}
.homepage {
    text-align: center;
    color: white;
    z-index: 1;
    position: absolute;
    margin-left: 45%;
}
#myVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
    max-width: 2000px;
    margin-inline: auto ;
  }
  
.homebackground {
    position: relative;
    height: 100vh; 
    margin-inline: auto;
    max-width: 2000px;
    width: 90%;
}

.hometext {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    margin-right: 2000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hometext h3{
    text-align: left;
    font-weight:lighter;
}
/*reg button and reg modal box*/
.homebtns{
    display: flex;
    gap: 10px;
}
#signup{
    width: 180px;
    text-align: center;
    border: 2px solid #ffffff;
    position: static;
    z-index: 2;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    padding: 8px;
    opacity: 1;
    margin-bottom: 100px;
    margin-top: -10px;
}
#loginbutton{
    width: 180px;
    text-align: center;
    border: 2px solid #ffffff;
    position: static;
    z-index: 2;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    padding: 8px;
    opacity: 1;
    margin-bottom: 100px;
    margin-top: -10px;
}
#register{
    margin: 100px auto;
    padding: 15px;
    background: black;
    border-radius: 5px;
    width: 30%;
    height: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 3;
    opacity: 0.8;
}
/*registration form*/
#register{
    background-color: #D3D3D3;
    display: flex;
}
#regModal{
    padding: 40px 60px;
    background-color: #D3D3D3;
    flex-basis: 100%;
}
#reg-input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#reg-input-group{
    font-size: 20px;
}
#reg-input-group input{
    font-size: 17px;
}
#regModal button{
    background: white;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    display: block;
    margin-inline: auto;
}
.pronouns{
    margin-bottom: 20px; 
}

#regModal h3{
    padding-bottom: 20px;
}
/*Contacts*/
.ContactMe{
    width: 80%;
    margin: 50px auto;
    color: white;
}
.contactBox{
    background: #D3D3D3;
    display: flex;
}
.contactLeft{
    flex-basis: 50%;
    padding: 40px 60px;
    color: black;
}
.contactRight{
    flex: 40%;
    padding: 40px;
    background-color: white;
    color: black;
}
.contactHeader{
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}
.input-row .input-group{
    flex-basis: 45%;
}
.input-row input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
    background-color: #D3D3D3;
}
.contactLeft textarea{
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
}
.contactBox label{
    margin-bottom: 6px;
    display: block;
    color: black;
}
.contactBox button{
    background: white;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.contactLeft h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.contactRight h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.contactRight img{
    width: 50px;
}
.contactRight a{
    text-decoration: none;
    color: black;
    text-decoration-line: underline;
}
.contactRight tr td:first-child{
    padding-right: 20px;
}
.contactRight tr td{
    padding-top: 20px;
    font-weight: bolder;
}
/*References*/
.reference{
    color: white;
    display: flex;
    font-size: larger;
}
.reference ul{
    list-style: none;  
}
.reference li{
    padding: 10px 60px;
    margin-right: 100px;
}
.reference a{
    text-decoration: none;
    color: white;
}
.thanks{
    display: flex;
    flex-direction: column;
}
.thanks img{
    width: 300px;
    height: 170px;
    position: static;
    margin-inline: auto;
    object-fit: cover;
    opacity: .8;
    border-radius: 10px;
}

